<div *ngIf="!templateChosen">
  <h2>{{template.name}}</h2>
  <h3>{{template.owner.name}} {{template.owner.surname}}</h3>
  <div class="table-wrapper-scroll-y">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Creation Date</th>
          <th>Creator</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let version of template.versions">
          <td (click)="showVersion($event)">{{ version.id }}</td>
          <td (click)="showVersion($event)">{{ version.creationTime }}</td>
          <td (click)="showVersion($event)">{{ version.creator.name}} {{ version.creator.surname }}</td>
          <td (click)="showVersion($event)">{{ version.versionState }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div [hidden]="!templateChosen">
  <app-ngx-editor [placeholder]="' '" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
  <button type="submit" class="btn btn-primary" (click)="saveNewTemplateVersion()">Submit new Version</button>
  <button type="submit" class="btn btn-primary" (click)="showVersions()">Back to version</button>
</div>

<div>
  <button type="submit" class="btn btn-primary" (click)="goBackToTemplates()">Back to templates</button>
</div>
