<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input type="search" [(ngModel)]="searchText" class="form-control" id="search" mdbInput (keyup)="filterTemplates($event.target.value)">
      <label for="search">Search</label>
    </div>
  </div>
</div>

<div class="table-wrapper-scroll-y">
  <table class="table table-striped table-bordered table-sm" cellspacing="0" matSort (matSortChange)="sortTemplates($event)">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let head of headElements" scope="col" mat-sort-header={{head}}>{{head}}</th>
        <th> Cede Ownership</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let template of sortedTemplates">
        <td align="center" (click)="loadTemplate(template.id)" class="clickable" id="{{template.id}}">{{ template.name }}</td>
        <td align="center">{{ template.templateState }}</td>
        <td align="center">{{ template.templateVersions.length }}</td>
        <td align="center">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="typeChanger" ngbDropdownToggle>{{selectedEditor.name}} {{selectedEditor.surname}}</button>
            <div ngbDropdownMenu aria-labelledby="typeChanger" >
              <button *ngFor="let editor of editors" (click)="switchSelectedEditor(editor)" ngbDropdownItem>{{editor.name}} {{editor.surname}}</button>
            </div>
          </div>
          <button class="btn btn-danger" (click)="changeTemplateOwner(template.id, template.name)">Confirm</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
