<div class="container bootstrap snippet" *ngIf="!loading">
  <div class="row">
    <div class="col-sm-6 mt-2">
      <div class="row justify-space mb-2 mx-0">
      </div>
      <div class="row">
        <div class="col-sm-10"><h1>{{loggedUser.name}}   {{loggedUser.surname}}</h1></div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="tab-content">
            <div class="col-xs-6">
              <label for="first_name"><h4>{{loggedUser.email}}</h4></label>
            </div>
            <div class="col-xs-6">
              <label for="user_type"><h4>{{userType}}</h4></label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2">
          <input class="form-control" type="text" #name placeholder="{{loggedUser.name}}">
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" #surname placeholder="{{loggedUser.surname}}">
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="email" #email placeholder="{{loggedUser.email}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success" (click)="changeUserData(name.value ,surname.value, email.value, $event)">Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mt-2">
      <form form [formGroup]="changeCredentialsForm" (ngSubmit)="changeCredentials()" *ngIf="!loading">
        <div class="form-group">
          <label for="Login">Old Login</label>
          <input type="text" class="form-control" formControlName="Login" placeholder="Enter old login" [ngClass]="{ 'is-invalid': submitted && FormControls.Login.errors}">
          <div *ngIf="submitted && FormControls.Login.errors" class="invalid-feedback">
            <div *ngIf="FormControls.Login.errors.required">Old login is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Password">Old Password</label>
          <input type="password" class="form-control" formControlName="Password" placeholder="Enter old password" [ngClass]="{ 'is-invalid': submitted && FormControls.Password.errors}">
          <div *ngIf="submitted && FormControls.Password.errors" class="invalid-feedback">
            <div *ngIf="FormControls.Password.errors.required">Old password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="NewLogin">New Login</label>
          <input type="text" class="form-control" formControlName="NewLogin" placeholder="Enter new login" [ngClass]="{ 'is-invalid': submitted && FormControls.NewLogin.errors}">
          <div *ngIf="submitted && FormControls.NewLogin.errors" class="invalid-feedback">
            <div *ngIf="FormControls.NewLogin.errors.required">New login is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="NewPassword">New Password</label>
          <input type="password" class="form-control" formControlName="NewPassword" placeholder="Enter new password" [ngClass]="{ 'is-invalid': submitted && FormControls.NewPassword.errors}">
          <div *ngIf="submitted && FormControls.NewPassword.errors" class="invalid-feedback">
            <div *ngIf="FormControls.NewPassword.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirmation">Confirm Password</label>
          <input type="password" class="form-control" formControlName="passwordConfirm" placeholder="Confirm new password" [ngClass]="{ 'is-invalid': submitted && changeCredentialsForm.hasError('notSame')}">
          <div *ngIf="submitted && changeCredentialsForm.hasError('notSame')" class="invalid-feedback">
            Passwords do not match
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
