.clickable:hover {
  cursor: pointer;
}

.md-form{
  margin-bottom:10px;
}

_:-ms-lang(x), _:-webkit-full-screen, #typeChanger {
  width: 7em;
}

_:-ms-lang(x), _:-webkit-full-screen, #saveButton {
  width: 5em;
}

.btn {
  width: 100%;
  height: 100%;
}
