
<h2>Login</h2>
<form  #loginForm="ngForm" (ngSubmit)="logUserIn(loginForm.value)">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" name="Login" [(ngModel)] ="login" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="Password" [(ngModel)] ="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<button type="submit" class="btn btn-primary" (click)="logout()">Logout</button>
