
<app-nav></app-nav>

<div class="container main-container">

  <router-outlet></router-outlet>

</div>

<footer class="mt-1 p-2 bg-info text-white text-right fixed-bottom">
  <p class="m-1 p-footer">
    Designed by:
    <a class="a-designed" href="https://github.com/Maziarella">Magdalena Kiebała * </a> 
    <a class="a-designed" href="https://github.com/bartlomieZadlo">Bartłomiej Żądło * </a> 
    <a class="a-designed" href="https://github.com/angelikanieduziak">Piotr Kamiński *</a>
  </p>
</footer>
