<div *ngIf="!templateChosen">
  <div class="table-wrapper-scroll-y">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Version Count</th>
          <th>Owner</th>
          <th>Template State</th>
          <th>Activate/Deactivate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates">
          <td (click)="loadTemplateVersions(template.id)" class="clickable" id="{{template.id}}"> {{ template.name }} </td>
          <td>{{ template.versionCount }}</td>
          <td (click)="changeOwner($event)" class="clickable"> {{ template.owner.name }} {{ template.owner.surname }} {{ template.owner.email }}</td>
          <td>{{ template.templateState }}</td>
          <td><button type="submit" class="btn btn-primary" (click)="switchState(template.id, template.templateState, template.name)">Switch State</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="templateChosen">
  <h2>{{pickedTemplate.name}}</h2>
  <h3>{{pickedTemplate.owner.name}} {{pickedTemplate.owner.surname}}</h3>
  <div class="table-wrapper-scroll-y">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Creation Date</th>
          <th>Creator</th>
          <th>State</th>
          <th>Activate/Deactivate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let version of pickedTemplate.versions" class="clickable" (click)="showVersion($event, content)">
          <td>{{ version.creationTime }}</td>
          <td>{{ version.creator.name}} {{ version.creator.surname }}</td>
          <td>{{ version.versionState }}</td>
          <td><button type="submit" class="btn btn-primary" (click)="switchVersionState(version.id, version.versionState, version.creator.id)">Switch State</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="submit" class="btn btn-primary" (click)="templateChosen = !templateChosen">Back to templates</button>
</div>

<ng-template #content let-modal id="content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Version Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="version-container">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

