<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>{{loggedUser.name}}   {{loggedUser.surname}}</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="tab-content">
              <div class="col-xs-6">
                <label for="first_name"><h4>{{loggedUser.email}}</h4></label>
              </div>
              <div class="col-xs-6">
                <label for="last_name"><h4>{{loggedUser.status}}</h4></label>
              </div>
              <div class="col-xs-6">
                <label for="user_type"><h4>{{loggedUser.type}}</h4></label>
              </div>
      </div>
    </div>
    </div>
</div>
