<div class="row" *ngIf="!templateChosen">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input type="search" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Search" mdbInput (keyup)="filterTemplates($event.target.value)">
    </div>
  </div>
</div>

<div *ngIf="!templateChosen">
  <div class="table-wrapper-scroll-y">
    <table class="table table-striped table-bordered table-sm" cellspacing="0" matSort (matSortChange)="sortTemplates($event)">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th *ngFor="let head of headTemplateElements" scope="col" mat-sort-header={{head}}>{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of sortedTemplates">
          <td align="center"><button class="btn btn-success" (click)="loadTemplateVersions(template.id)">Show versions</button></td>
          <td class="data">{{ template.name }}</td>
          <td class="data">{{ template.templateVersions.length }}</td>
          <td>
            <div ngbDropdown>
              <button class="btn btn-primary" id="typeChanger" ngbDropdownToggle> {{template.owner.surname}} {{template.owner.name}}</button>
              <div ngbDropdownMenu aria-labelledby="typeChanger">
                <button *ngFor="let editor of editors" (click)="changeTemplateOwner(editor, template.id, template.name)" ngbDropdownItem>{{editor.name}} {{editor.surname}}</button>
              </div>
            </div>
          </td>
          <td><button type="submit" class="btn btn-primary" (click)="switchState(template.id, template.templateState, template.name, template.owner.id)">{{template.templateState}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="templateChosen">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input type="search" [(ngModel)]="searchVersions" placeholder="Search" class="form-control" id="search" mdbInput (keyup)="filterVersions($event.target.value)">
    </div>
  </div>
</div>

<div *ngIf="templateChosen">
  <h2>{{pickedTemplate.name}}</h2>
  <h3>{{pickedTemplate.owner.name}} {{pickedTemplate.owner.surname}}</h3>
  <button type="submit" class="btn btn-primary back-button" (click)="templateChosen = !templateChosen">Back to templates</button>
  <div class="table-wrapper-scroll-y">
    <table class="table table-striped table-bordered table-sm" cellspacing="0" matSort (matSortChange)="sortVersions($event)">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th *ngFor="let head of headVersionsElements" scope="col" mat-sort-header={{head}}>{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let version of sortedVersions">
          <td align="center"><button class="btn btn-success" (click)="showVersion($event, content)">Show version</button></td>
          <td>{{ version.creationTime }}</td>
          <td> {{ version.creator.surname }} {{ version.creator.name}}</td>
          <td><button type="submit" class="btn btn-primary" (click)="switchVersionState(version.id, version.versionState, version.creator.id)">{{ version.versionState }}</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #content let-modal id="content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Version Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="version-container">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

